.wallpaper {
  width: 100%;
  height: 200px;
  margin-top: 100px;
  background-image: url('../../public/images/wallpaper.jpg');
  background-size: cover;
}

@media only screen and (min-width: 750px) {
  .wallpaper {
    height: 300px;
  }
}
