.footer {
  width: 100%;
  height: auto;
  background-color: #9cc5a1;
  padding: 12px;
  text-align: center;
  font-size: 12px;
}

.description {
  margin: 0;
  color: white;
}

@media only screen and (min-width: 300px) {
  .description {
    font-size: 14px;
  }
}

@media only screen and (min-width: 500px) {
  .description {
    font-size: 18px;
  }
}
